@media (max-width: 1181px) {
  /* header styles */
  .burger_icon {
    display: block;
  }
  .header_nav{
    display: none;
  }
  header{
    padding-inline: 32px;
  }
  /* card section styles */
  .cards_sec{
    padding-inline: 32px 0;
  }
  .sec_for_cards{
      overflow-x: scroll;
    
  }
  .card{
    flex: 1 0 272px;
  }
}